html,body {
    margin:0;
    padding:0;
    color:#282828;
}
.header {
    width: 100%;
    height: 150px;
    padding-top: 4rem;
    background: #6d7488;



}

#back{
    background-image: url('../img/back.png');
    background-repeat:no-repeat;
    height: 150px;
    width:337px;
    margin:0 auto;


}

img{

    padding:0px;
    margin:0px;

}

.icon{
    padding:0px;
    margin:0px;
    float: left;
    width:66px;
    height:66px;


}





a:link {color:#999;}      /* unvisited link */
a:visited {color:#999;}  /* visited link */
a:hover {color:#666;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

.title{
    line-height: 2rem;
    padding:0px;
    margin:0px;
    color:#e3e3e3;
    clear:BOTH;


}

.right{

    float: right;

}

ul  {
    padding-left:0;
}



ul
{

    list-style-type: none;
}

#banner{

    float:left;

}

#nav-target
{
    background-color:#262626;
    width:100%;
    height:80px;
    box-shadow: 0px 1px 50px #5E5E5E;
    position:fixed;
    top:0px;
}


#navcontainer ul
{
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    color: White;
    float: left;
    width: 100%;
    height:100%;
    font-family: arial, helvetica, sans-serif;

}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    padding: 0.0em 1em;

    color: White;
    text-decoration: none;
    float: left;
    border-right: 1px solid #222222;
}

#navcontainer ul li a:hover
{

    color: #fff;
}



.container{

    width:900px;

}

img{

    padding: 5px;
    margin: 5px;

}

.center {

    height: 100%;
    margin:0px auto;
    text-align:left;

}

.verticalLine {
    border-right: 2px solid #efefef;
}

#list-target{

    margin: 5px;
    float:left;
    padding-top:10px;
    padding-bottom: 112px;
    width:100%;


}

#content-target{


    float:left;
    width:100%;
    height:500px;
    overflow:auto;
}

#aside-target{

    padding: 5px;
    margin: 5px;
    float:left;
    background-color: #e3e3e3;
    width:150px;
    height: 700px;

}

#footer-target{
    opacity: .9;
    position:fixed;
    left:0px;
    bottom:0px;
    height:112px;
    width:100%;
    background:#e3e3e3;
}

#readability{
    color: #d58512;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

.menu {
    background:#d58512;
    color:#FFF;
    height:35px;

    position:absolute;
    top:150px;
    width:100%;
}
.fixed {
    background:#d58512;
    position:fixed;
    top:80px;
}

.box{
    float: left;
    font-size: 2rem;
    width:28%;

    background-color: #222222;
    margin:10px;
    padding: 10px;


}

.article{
    width:33%;
    height:250px;
    background:#333;
    float:left;
    margin:5px;
}

.md-modal {
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 730px;
    min-width: 320px;
    height: 500px;
    width:650px;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#md-overlay {
    background-color: #222222;
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

h4 {

    text-align: left;
    color:#fff;
    font: 95px/1 "Impact";
    text-transform: uppercase;
    display: block;
    text-shadow:#253e45 -1px 1px 0,
    #253e45 -2px 2px 0,
    #d45848 -3px 3px 0,
    #d45848 -4px 4px 0;
    margin: 5% auto 5%;
}

.container-box {
    width: 28%;

    max-width:1140px;
}