<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">

        <script src="js/vendor/modernizr/modernizr-2.6.2.min.js"></script>

        <script src="js/vendor/jq/jq2.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <script type="text/template" id="nav-template">

            <nav>
                <ul>
                    <li><a href="#portfolio">Portfolio</a></li>
                  <li><a href="#work">Work History</a></li>
                  <li><a href="#education">Education</a></li>
                    <li><a href="#process">Process</a></li>
                </ul>
            </nav>

        </script>

        <script type="text/template" id="list-template">
          <ul>
          <%  for(var i=0; i< data.length; i++){ %>
          <li>
            <a href=<%= "#"+linkroute+"/"+ i  +"/page1"%> > <%=  data[i].Name %></a>
          </li>
          <%  }%>
          </ul>


        </script>

        <script type="text/template" id="portfolio-content-template">


          <h2><%= data.Name+ " ("+data.Date+") " %></h2>
          <h3>Tech:</h3>
          <%  for(var i=0; i<  data.Tech.length; i++){ %>
          <span>
            <%=   data.Tech[i] +"," %>
          </span>
          <%  }%>

          <h3>About:</h3>
           <section>
            <%=   data.About %>
          </section>

          <h3>ScreenShots:</h3>
          <%  for(var i=0; i<  data.Examples.length; i++){ %>
          <img src="http://placehold.it/150x150"/>
          <%  }%>

        </script>


        <script type="text/template" id="education-content-template">


          <h2><%= data.Name+ " ("+data.Date+") " %></h2>
          <h4><%= data.Degree %></h4>
          <h4>Course Work:</h4>


        </script>

        <script type="text/template" id="process-content-template">


          <h2><%= data.Name %></h2>
          <h4><%= data.About %></h4>



        </script>

        <script type="text/template" id="work-content-template">


          <h2><%= data.Name+ " ("+data.Date+") " %></h2>
          <h4><%= data.Title %></h4>



        </script>

        <div class='Container'>
          <div id='nav-target'></div>
          <div>

        <div class='Container'>
          <div id='list-target'></div>

            <div id='result'></div>
        <div>

       <div class='Container'>
          <div id='content-target'></div>
        <div>

        <script src="js/vendor/underscore/underscore.js"></script>
        <script src="js/vendor/backbone/backbone1.1.js"></script>
        <script src="js/vendor/spin/spin.js"></script>

        <script src="js/vendor/backbone/models/model.js"></script>
        <script src="js/vendor/backbone/views/view.js"></script>
        <script src="js/vendor/backbone/app/app.js"></script>
        <script src="js/main.js"></script>








    </body>
</html>
